*{ /*RESET*/
    margin: 0;
    padding:0;
    font-family: 'Roboto Mono', monospace;
}

body {
    background-image: url('https://www.fundospaisagens.com/1920x1080/wallpaper-de-uma-galaxia.jpg');
    background-size: cover;
    background-repeat: no-repeat;    
    display: flex;
    flex-direction: column;
    background-position: center bottom;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.page-title {
  color: #ffffff;
  margin: 0 0 5px;
}

.page-subtitle {
  color: #ffffff;
  margin-top: 5px;
}

.page-logo {
  width: 200px;
}

  .form-wrapper {
    margin: 0px 0 15px;
  }

  .form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: center;
  }
  
  .form-wrapper button {
    border: 0;
    color: #ffffff;
    background: #1a75ff;
    font-weight:bold;
    padding: 15px 20px;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
  }
  
  .form-wrapper button:hover {
    opacity:.8;
  }

.mostra {
    color: #ffffff;
  margin-top: 5px;
  }
